body {
  background-color: rgb(19, 9, 44);
  color: #fff;
}

.jumbotron {
  background: url(../img/slider_nebula.jpg);
  margin-bottom: 2rem;
}

.logo {
  width: 6rem;
  margin-top: 2rem;
}

.menu-list {
  padding: 1rem;
  margin-bottom: 1px solid #fff;
  color: rgb(30, 13, 61);
  cursor: pointer;
}

.menu-list-item{
  background-color: rgb(147, 193, 245);
  padding: 1rem 0.5rem;
  text-align: center;
  list-style: none;
  margin: .5rem;
  border-radius: 3px;
  border: 2px solid transparent;
}

.menu-list-item:hover {
  background-color: rgb(205, 231, 255);
  border: 2px solid rgb(164, 207, 248);
}

.rover-photos {
  width: 8rem;
  min-height: 10rem;
  border: 1px solid rgb(179, 178, 178);
  border-radius: 3px;
  padding: .5rem;

  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: .3rem;
  
}



.rover-photo-camera p {
  text-align: center;
  color: rgb(57, 24, 139);
}